*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, skyblue, blue);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

}
h1,form{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
}

form input,form button{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 24px;
    background-color: white;
}
form button{
    color: blue;
    background-color: white;
}
form button:hover{
    color: white;
    background-color: skyblue;
}
.todo-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    list-style: none;
    min-width: 25%;
}
.todos{
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}
.todo-item{
    margin: 0px 8px;
    flex: 1;
    
}
.check-btn, .delete-btn{
    outline: none;
    border: none;
    color: white;
    background-color: green;
    padding: 16px;
    font-size: 16px;
}
.delete-btn{
    background-color: red;
}
.fa-trash, .fa-check{
    pointer-events: none;
}

.tick{
    text-decoration: line-through;
    opacity: 0.5;
}